:root {

  --color-dark: #000;
  --color-light: #fff;
  
  --color-mute: #F5F5F5;
  --color-mute-hover: #F5F5F5;
  --color-mute-click: #dddddd;

  --color-default: #fff;
  --color-default-hover: #fff;
  --color-default-click: #d1d1d1;

  --color-danger: #E91E63;
  --color-danger-hover: #E91E63;
  --color-danger-click: #d11b57;

  --color-primary: #536DFE;
  --color-primary-hover: #536DFE;
  --color-primary-click: #475edf;

  --color-success: #4fb2aa;
  --color-success-hover: #4fb2aa;
  --color-success-click: #429891;

  --color-warning: #FFC107;
  --color-warning-hover: #FFC107;
  --color-warning-click: #e7af06;

  --color-secondary: #212121;
  --color-secondary-hover: #212121;
  --color-secondary-click: #2f2e2e;

  --color-transparent: transparent;
  --color-transparent-mute: #F5F5F5;
  --color-transparent-danger: #E91E63;
  --color-transparent-success: #4fb2aa;
  --color-transparent-primary: #536DFE;
  --color-transparent-default: #ffffff;
  --color-transparent-warning: #FFC107;
  --color-transparent-secondary: #212121;
  --color-transparent-dark: rgba(0, 0, 0, 0.8);
  --color-transparent-light: rgba(255, 255, 255, 0.8);

}