
.uk-border { border: solid 2px; }
.uk-border-small { border: solid 1px; }
.uk-border-large { border: solid 3px; }

/* uk-border default */
.uk-border-dark.uk-border { 
    filter: drop-shadow(5px 5px 0px var(--color-secondary));
    border-color: var(--color-secondary)!important; 
}
.uk-border-light.uk-border { 
    filter: drop-shadow(5px 5px 0px var(--color-default));
    border-color: var(--color-default)!important; 
}

/* uk-border small */
.uk-border-dark.uk-border-small { 
    filter: drop-shadow(2px 2px 0px var(--color-secondary));
    border-color: var(--color-secondary)!important; 
}
.uk-border-light.uk-border-small { 
    filter: drop-shadow(2px 2px 0px var(--color-default));
    border-color: var(--color-default)!important; 
}

/* uk-border large */
.uk-border-dark.uk-border-large { 
    filter: drop-shadow(10px 10px 0px var(--color-secondary));
    border-color: var(--color-secondary)!important; 
}
.uk-border-light.uk-border-large { 
    filter: drop-shadow(10px 10px 0px var(--color-default));
    border-color: var(--color-default)!important; 
}

/* TODO: Compiled uk-border-color */
/°(()=>{
    const data = ("mute,danger,success,default,primary,warning,secondary").split(',');
    const result = new Array();
    for( var i in data ){
        result.push(`
            .uk-border-${data[i]} { border-color: var(--color-${data[i]})!important }
        `);
    }   return result.join('\n');
})();°/
/* TODO: Compiled uk-border-color */
