/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

.uk-rounded { border-radius: 5px !important; }
.uk-rounded-small { border-radius: 2px !important; }
.uk-rounded-medium { border-radius: 8px !important; }
.uk-rounded-large { border-radius: 10px !important; }
.uk-rounded-xlarge { border-radius: 20px !important; }
.uk-rounded-2xlarge { border-radius: 40px !important; }

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/°
(()=>{
    const data = 'top|bottom'.split('|');
    return data.map(x=>{
        return `
            .uk-rounded-remove-${x} {
                border-${x}-left-radius: initial !important;
                border-${x}-right-radius: initial !important;
            }
        `;
    }).join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/°
(()=>{
    const data = 'left|right'.split('|');
    return data.map(x=>{
        return `
            .uk-rounded-remove-${x} {
                border-top-${x}-radius: initial !important;
                border-bottom-${x}-radius: initial !important;
            }
        `;
    }).join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/°
(()=>{
    const data = 'top-left|top-right|bottom-left|bottom-right'.split('|');
    return data.map(x=>{
        return `
            .uk-rounded-remove-${x} {
                border-${x}-radius: initial !important;
            }
        `;
    }).join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/