
/*
 * 1. Style
 * 2. Center child vertically and horizontally
 */
.uk-badge {
  height: 18px;
  padding: 0 5px;
  min-width: 18px;
  border-radius: 500px;
  vertical-align: middle;
  box-sizing: border-box;
  /* 1 */
  background: var(--color-secondary);
  color: var(--color-default);
  font-size: 11px;
  /* 2 */
  justify-content: center;
  display: inline-flex;
  align-items: center;
  line-height: 0;
}
/*
 * Required for `a`
 */
.uk-badge:hover {
  text-decoration: none;
}

/*
  badge color
*/

/* TODO: css compiled */
/°(()=>{
  const data = ("mute,danger,success,default,primary,warning,secondary").split(',');
  const letr = ("1001010").split('');
  const result = new Array();
  for( var i in data ){
    const color = letr[i]=='0' ? 'default' : 'secondary';
    result.push(`
      .uk-badge.uk-${data[i]}{ 
        border: solid 1px var(--color-${data[i]}) !important; 
        color: var(--color-${data[i]}) !important;
        background: transparent !important;
      }
      .uk-badge.uk-${data[i]}.uk-enphasis{ 
        background: var(--color-${data[i]}) !important; 
        color: var(--color-${color}) !important; 
      }
    `);
  } return result.join('\n');
})();°/
/* TODO: css compiled */
