
.uk-overlay { padding: 30px 30px; }
/*
 * Remove margin from the last-child
 */
.uk-overlay > :last-child { margin-bottom: 0; }
/* Icon
 ========================================================================== */
/* Style modifiers
 ========================================================================== */
/*
 * Default
 */
.uk-overlay.uk-dark { background: var(--color-transparent-dark); }
.uk-overlay.uk-light { background: var(--color-transparent-light); }

/°(()=>{
    const types = 'default|primary|secondary|danger|mute|success|warning'.split('|');
    const result = new Array();
   
    for( var i in types ){
        result.push(`
            .uk-overlay.uk-${types[i]} { background: var(--color-transparent-${types[i]}); }
        `);
    }

    return result.join('\n');
})();°/
