
.uk-child-width-fill > :not([class*='uk-width']) { width: -webkit-fill-available !important; }
.uk-child-width-expand > :not([class*='uk-width']) { flex: 1; min-width: 1px; }
[class*='uk-width'] { box-sizing: border-box; max-width: 100%; width: 100%; }
[class*='uk-child-width'] > :not([class*='uk-width']) { box-sizing: border-box; width: 100%; }
.uk-width-fill { width: -webkit-fill-available !important; }
.uk-width-expand { flex: 1; min-width: 1px; }

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/°(()=>{
  const result = new Array();
  for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
    if( i == j && i!=1 && j!=1 ) continue;
    const width = +(j / i * 100).toFixed(4);
    result.push(`
      .uk-width-${j}-${i}           { width: ${width}%; }
      .uk-child-width-${j}-${i} > :not([class*='uk-width']) { width: ${width}%; }
    `);
  }}  return result.join('\n');
})();°/

/°
(()=>{
  const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
  const result = new Array();
  for( var j in data ){
      result.push(`
       .uk-width-${data[j]}           { width: ${data[j]}; }
       .uk-child-width-${data[j]} > :not([class*='uk-width']) { width: ${data[j]}; }
      `);
  } return result.join('');
})()
°/

/°
(()=>{
  const data = 'small|medium|large|xlarge|2xlarge'.split('|');
  const size = '150px|300px|450px|600px|750px'.split('|');
  const result = new Array();
  for( var j in data ){
      result.push(`
       .uk-width-${data[j]}           { width: ${size[j]}; }
       .uk-child-width-${data[j]} > :not([class*='uk-width']) { width: ${size[j]}; }
      `);
  } return result.join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 640px) {

  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const width = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-width-${j}-${i}\\@s           { width: ${width}%; }
      .uk-child-width-${j}-${i}\\@s > :not([class*='uk-width']) { width: ${width}%; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@s           { width: ${data[j]}; }
         .uk-child-width-${data[j]}\\@s > :not([class*='uk-width']) { width: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@s           { width: ${size[j]}; }
         .uk-child-width-${data[j]}\\@s > :not([class*='uk-width']) { width: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-width-expand\@s { flex: 1; min-width: 1px; }
  .uk-width-fill\@s { width: -webkit-fill-available !important; }
  .uk-child-width-expand\@s > :not([class*='uk-width']) { flex: 1; min-width: 1px; }
  .uk-child-width-fill\@s > :not([class*='uk-width']) { width: -webkit-fill-available !important; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 960px) {
  
  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const width = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-width-${j}-${i}\\@m           { width: ${width}%; }
      .uk-child-width-${j}-${i}\\@m > :not([class*='uk-width']) { width: ${width}%; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@m           { width: ${data[j]}; }
         .uk-child-width-${data[j]}\\@m > :not([class*='uk-width']) { width: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@m           { width: ${size[j]}; }
         .uk-child-width-${data[j]}\\@m > :not([class*='uk-width']) { width: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-width-expand\@m { flex: 1; min-width: 1px; }
  .uk-width-fill\@m { width: -webkit-fill-available !important; }
  .uk-child-width-expand\@m > :not([class*='uk-width']) { flex: 1; min-width: 1px; }
  .uk-child-width-fill\@m > :not([class*='uk-width']) { width: -webkit-fill-available !important; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1200px) {
  
  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const width = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-width-${j}-${i}\\@l           { width: ${width}%; }
      .uk-child-width-${j}-${i}\\@l > :not([class*='uk-width']) { width: ${width}%; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@l           { width: ${data[j]}; }
         .uk-child-width-${data[j]}\\@l > :not([class*='uk-width']) { width: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@l           { width: ${size[j]}; }
         .uk-child-width-${data[j]}\\@l > :not([class*='uk-width']) { width: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-width-expand\@l { flex: 1; min-width: 1px; }
  .uk-width-fill\@l { width: -webkit-fill-available !important; }
  .uk-child-width-expand\@l > :not([class*='uk-width']) { flex: 1; min-width: 1px; }
  .uk-child-width-fill\@l > :not([class*='uk-width']) { width: -webkit-fill-available !important; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1600px) {
  
  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const width = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-width-${j}-${i}\\@xl           { width: ${width}%; }
      .uk-child-width-${j}-${i}\\@xl > :not([class*='uk-width']) { width: ${width}%; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@xl           { width: ${data[j]}; }
         .uk-child-width-${data[j]}\\@xl > :not([class*='uk-width']) { width: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-width-${data[j]}\\@xl           { width: ${size[j]}; }
         .uk-child-width-${data[j]}\\@xl > :not([class*='uk-width']) { width: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-width-expand\@xl { flex: 1; min-width: 1px; }
  .uk-width-fill\@xl { width: -webkit-fill-available !important; }
  .uk-child-width-expand\@xl > :not([class*='uk-width']) { flex: 1; min-width: 1px; }
  .uk-child-width-fill\@xl > :not([class*='uk-width']) { width: -webkit-fill-available !important; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/