
.uk-child-height-fill > :not([class*='uk-height']) { height: -webkit-fill-available !important; }
.uk-child-height-expand > :not([class*='uk-height']) { flex: 1; min-height: 1px; }
[class*='uk-height'] { box-sizing: border-box; max-height: 100%; height: 100vh; }
[class*='uk-child-height'] > :not([class*='uk-height']) { box-sizing: border-box; height: 100vh; }
.uk-height-fill { height: -webkit-fill-available !important; }
.uk-height-expand { flex: 1; min-height: 1px; }

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

/°(()=>{
  const result = new Array();
  for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
    if( i == j && i!=1 && j!=1 ) continue;
    const height = +(j / i * 100).toFixed(4);
    result.push(`
      .uk-height-${j}-${i}           { height: ${height}vh; }
      .uk-child-height-${j}-${i} > :not([class*='uk-height']) { height: ${height}vh; }
    `);
  }}  return result.join('\n');
})();°/

/°
(()=>{
  const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
  const result = new Array();
  for( var j in data ){
      result.push(`
       .uk-height-${data[j]}           { height: ${data[j]}; }
       .uk-child-height-${data[j]} > :not([class*='uk-height']) { height: ${data[j]}; }
      `);
  } return result.join('');
})()
°/

/°
(()=>{
  const data = 'small|medium|large|xlarge|2xlarge'.split('|');
  const size = '150px|300px|450px|600px|750px'.split('|');
  const result = new Array();
  for( var j in data ){
      result.push(`
       .uk-height-${data[j]}           { height: ${size[j]}; }
       .uk-child-height-${data[j]} > :not([class*='uk-height']) { height: ${size[j]}; }
      `);
  } return result.join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 640px) {

  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const height = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-height-${j}-${i}\\@s           { height: ${height}vh; }
      .uk-child-height-${j}-${i}\\@s > :not([class*='uk-height']) { height: ${height}vh; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@s           { height: ${data[j]}; }
         .uk-child-height-${data[j]}\\@s > :not([class*='uk-height']) { height: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@s           { height: ${size[j]}; }
         .uk-child-height-${data[j]}\\@s > :not([class*='uk-height']) { height: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-height-fill\@s { height: -webkit-fill-available !important; }
  .uk-height-expand\@s { flex: 1; min-height: 1px; min-height: 100vh; }
  .uk-child-height-fill\@s > :not([class*='uk-height']) { height: -webkit-fill-available !important; }
  .uk-child-height-expand\@s > :not([class*='uk-height']) { flex: 1; min-height: 1px; min-height: 100vh; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 960px) {

  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const height = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-height-${j}-${i}\\@m           { height: ${height}vh; }
      .uk-child-height-${j}-${i}\\@m > :not([class*='uk-height']) { height: ${height}vh; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@m           { height: ${data[j]}; }
         .uk-child-height-${data[j]}\\@m > :not([class*='uk-height']) { height: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@m           { height: ${size[j]}; }
         .uk-child-height-${data[j]}\\@m > :not([class*='uk-height']) { height: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-height-fill\@m { height: -webkit-fill-available !important; }
  .uk-height-expand\@m { flex: 1; min-height: 1px; min-height: 100vh; }
  .uk-child-height-fill\@m > :not([class*='uk-height']) { height: -webkit-fill-available !important; }
  .uk-child-height-expand\@m > :not([class*='uk-height']) { flex: 1; min-height: 1px; min-height: 100vh; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1200px) {

  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const height = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-height-${j}-${i}\\@l           { height: ${height}vh; }
      .uk-child-height-${j}-${i}\\@l > :not([class*='uk-height']) { height: ${height}vh; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@l           { height: ${data[j]}; }
         .uk-child-height-${data[j]}\\@l > :not([class*='uk-height']) { height: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@l           { height: ${size[j]}; }
         .uk-child-height-${data[j]}\\@l > :not([class*='uk-height']) { height: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-height-fill\@l { height: -webkit-fill-available !important; }
  .uk-height-expand\@l { flex: 1; min-height: 1px; min-height: 100vh; }
  .uk-child-height-fill\@l > :not([class*='uk-height']) { height: -webkit-fill-available !important; }
  .uk-child-height-expand\@l > :not([class*='uk-height']) { flex: 1; min-height: 1px; min-height: 100vh; }

}

/*───────────────────────────────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1600px) {

  /°(()=>{
    const result = new Array();
    for( var i=12; i>=1; i-- ){ for( var j=i; j>=1; j-- ){
      if( i == j && i!=1 && j!=1 ) continue;
      const height = +(j / i * 100).toFixed(4);
      result.push(`
      .uk-height-${j}-${i}\\@xl           { height: ${height}vh; }
      .uk-child-height-${j}-${i}\\@xl > :not([class*='uk-height']) { height: ${height}vh; }
      `);
    }}  return result.join('\n');
  })();°/
  
  /°
  (()=>{
    const data = 'inhertial|initial|auto|fit-content|max-content|min-content|none|revert|unset'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@xl           { height: ${data[j]}; }
         .uk-child-height-${data[j]}\\@xl > :not([class*='uk-height']) { height: ${data[j]}; }
        `);
    } return result.join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'small|medium|large|xlarge|2xlarge'.split('|');
    const size = '150px|300px|450px|600px|750px'.split('|');
    const result = new Array();
    for( var j in data ){
        result.push(`
         .uk-height-${data[j]}\\@xl           { height: ${size[j]}; }
         .uk-child-height-${data[j]}\\@xl > :not([class*='uk-height']) { height: ${size[j]}; }
        `);
    } return result.join('');
  })()
  °/

  .uk-height-fill\@xl { height: -webkit-fill-available !important; }
  .uk-height-expand\@xl { flex: 1; min-height: 1px; min-height: 100vh; }
  .uk-child-height-fill\@xl > :not([class*='uk-height']) { height: -webkit-fill-available !important; }
  .uk-child-height-expand\@xl > :not([class*='uk-height']) { flex: 1; min-height: 1px; min-height: 100vh; }

}
