
/*
 * Default
 */
[class*='uk-align'] {
  display: block;
  margin-bottom: 30px;
}
* + [class*='uk-align'] {
  margin-top: 30px;
}
/*
 * Center
 */
.uk-align-center {
  margin-left: auto;
  margin-right: auto;
}
/*
 * Left/Right
 */
.uk-align-left {
  margin-right: 30px;
  margin-top: 0;
  float: left;
}
.uk-align-right {
  margin-left: 30px;
  margin-top: 0;
  float: right;
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
  .uk-align-left\@s {
    margin-right: 30px;
    margin-top: 0;
    float: left;
  }
  .uk-align-right\@s {
    margin-left: 30px;
    margin-top: 0;
    float: right;
  }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-align-left\@m {
    margin-right: 30px;
    margin-top: 0;
    float: left;
  }
  .uk-align-right\@m {
    margin-left: 30px;
    margin-top: 0;
    float: right;
  }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
  .uk-align-left\@l {
    margin-top: 0;
    float: left;
  }
  .uk-align-right\@l {
    margin-top: 0;
    float: right;
  }
  .uk-align-left,
  .uk-align-left\@s,
  .uk-align-left\@m,
  .uk-align-left\@l {
    margin-right: 40px;
  }
  .uk-align-right,
  .uk-align-right\@s,
  .uk-align-right\@m,
  .uk-align-right\@l {
    margin-left: 40px;
  }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
  .uk-align-left\@xl {
    margin-right: 40px;
    margin-top: 0;
    float: left;
  }
  .uk-align-right\@xl {
    margin-left: 40px;
    margin-top: 0;
    float: right;
  }
}
