
/*───────────────────────────────────────────────────────────────────────────────────────────*/

.uk-flex-inline { display: inline-flex; }
.uk-flex { display: flex; }

/*───────────────────────────────────────────────────────────────────────────────────────────*/

.uk-flex-none { flex: none; }
.uk-flex-auto { flex: auto; }
.uk-flex-1 { flex: 1; }

/*───────────────────────────────────────────────────────────────────────────────────────────*/

.uk-flex-first { order: -1; }
.uk-flex-last { order: 99; }

/*───────────────────────────────────────────────────────────────────────────────────────────*/

/°
(()=>{
  const data = 'flex-start|center|flex-end|space-between|space-around'.split('|');
  return data.map(x=>{ const y = x.split('-').pop();
    return `.uk-flex-${y} { justify-content: ${x} }`;
  }).join('');
})()
°/

/°
(()=>{
  const data = 'wrap|nowrap|wrap-reverse'.split('|');
  return data.map(x=>{ const y = x.split('-').pop();
    return `.uk-flex-${y} { flex-wrap: ${x} }`;
  }).join('');
})()
°/

/°
(()=>{
  const data = 'stretch|flex-start|center|flex-end'.split('|');
  const name = 'stretch|top|middle|bottom'.split('|');
  return data.map((x,i)=>{ const y = name[i];
    return `.uk-flex-${y} { align-items: ${x} }`;
  }).join('');
})()
°/

/°
(()=>{
  const data = 'stretch|flex-start|center|flex-end|space-between|space-around'.split('|');
  const name = 'stretch|top|middle|bottom|between|around'.split('|');
  return data.map((x,i)=>{ const y = name[i];
    return `.uk-flex-wrap-${y} { align-content: ${x} }`;
  }).join('');
})()
°/

/°
(()=>{
  const data = 'row|row-reverse|column|column-reverse'.split('|');
  return data.map(x=>`.uk-flex-${x} { flex-direction: ${x} }`).join('');
})()
°/

/*───────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 640px) {

  .uk-flex-none\@s { flex: none; }
  .uk-flex-auto\@s { flex: auto; }
  .uk-flex-1\@s { flex: 1; }
  
  .uk-flex-first\@s { order: -1; }
  .uk-flex-last\@s { order: 99; }
  
  /°
  (()=>{
    const data = 'flex-start|center|flex-end|space-between|space-around'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@s { justify-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'wrap|nowrap|wrap-reverse'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@s { flex-wrap: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end'.split('|');
    const name = 'stretch|top|middle|bottom'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-${y}\\@s { align-items: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end|space-between|space-around'.split('|');
    const name = 'stretch|top|middle|bottom|between|around'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-wrap-${y}\\@s { align-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'row|row-reverse|column|column-reverse'.split('|');
    return data.map(x=>`.uk-flex-${x}\\@s { flex-direction: ${x} }`).join('');
  })()
  °/

}

/*───────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 960px) { 

  .uk-flex-none\@m { flex: none; }
  .uk-flex-auto\@m { flex: auto; }
  .uk-flex-1\@m { flex: 1; }
  
  .uk-flex-first\@m { order: -1; }
  .uk-flex-last\@m { order: 99; }
  
  /°
  (()=>{
    const data = 'flex-start|center|flex-end|space-between|space-around'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@m { justify-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'wrap|nowrap|wrap-reverse'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@m { flex-wrap: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end'.split('|');
    const name = 'stretch|top|middle|bottom'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-${y}\\@m { align-items: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end|space-between|space-around'.split('|');
    const name = 'stretch|top|middle|bottom|between|around'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-wrap-${y}\\@m { align-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'row|row-reverse|column|column-reverse'.split('|');
    return data.map(x=>`.uk-flex-${x}\\@m { flex-direction: ${x} }`).join('');
  })()
  °/

}

/*───────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1200px) { 

  .uk-flex-none\@l { flex: none; }
  .uk-flex-auto\@l { flex: auto; }
  .uk-flex-1\@l { flex: 1; }
  
  .uk-flex-first\@l { order: -1; }
  .uk-flex-last\@l { order: 99; }
  
  /°
  (()=>{
    const data = 'flex-start|center|flex-end|space-between|space-around'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@l { justify-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'wrap|nowrap|wrap-reverse'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@l { flex-wrap: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end'.split('|');
    const name = 'stretch|top|middle|bottom'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-${y}\\@l { align-items: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end|space-between|space-around'.split('|');
    const name = 'stretch|top|middle|bottom|between|around'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-wrap-${y}\\@l { align-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'row|row-reverse|column|column-reverse'.split('|');
    return data.map(x=>`.uk-flex-${x}\\@l { flex-direction: ${x} }`).join('');
  })()
  °/
  
}

/*───────────────────────────────────────────────────────────────────────────────────────────*/

@media (min-width: 1600px) {

  .uk-flex-none\@xl { flex: none; }
  .uk-flex-auto\@xl { flex: auto; }
  .uk-flex-1\@xl { flex: 1; }
  
  .uk-flex-first\@xl { order: -1; }
  .uk-flex-last\@xl { order: 99; }
  
  /°
  (()=>{
    const data = 'flex-start|center|flex-end|space-between|space-around'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@xl { justify-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'wrap|nowrap|wrap-reverse'.split('|');
    return data.map(x=>{ const y = x.split('-').pop();
      return `.uk-flex-${y}\\@xl { flex-wrap: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end'.split('|');
    const name = 'stretch|top|middle|bottom'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-${y}\\@xl { align-items: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'stretch|flex-start|center|flex-end|space-between|space-around'.split('|');
    const name = 'stretch|top|middle|bottom|between|around'.split('|');
    return data.map((x,i)=>{ const y = name[i];
      return `.uk-flex-wrap-${y}\\@xl { align-content: ${x} }`;
    }).join('');
  })()
  °/
  
  /°
  (()=>{
    const data = 'row|row-reverse|column|column-reverse'.split('|');
    return data.map(x=>`.uk-flex-${x}\\@xl { flex-direction: ${x} }`).join('');
  })()
  °/

}

/*───────────────────────────────────────────────────────────────────────────────────────────*/
